  <% if logged_in? %>
    <% if current_user.favplan?(@plan) %>
      <%= form_for(current_user.favorites.find_by(plan_id: plan.id), html: { method: :delete }) do |f| %>
        <div>
          <%= hidden_field_tag :plan_id, @plan.id %>
          <%= button_tag :type => "submit", :class =>"btn likeiconed icon mt-2" do %>
          <i class="fab fa-gratipay fa-2x", title="お気に入り中"></i>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= form_for(current_user.favorites.build) do |f| %>
        <div>
          <%= hidden_field_tag :plan_id, @plan.id %>
          <%= button_tag :type => "submit", :class =>"btn likeicon icon mt-2" do %>
          <i class="fab fa-gratipay fa-2x", title="お気に入りに追加"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
    
  <% else %>
    <%= link_to login_path do %><i class="fab fa-gratipay fa-2x likeicon mt-3", title="お気に入りに追加""></i><% end %>
  <% end %>