  <div class="container-fluid">
    <% breadcrumb :information %>
    <%= render "layouts/breadcrumbs" %>
    <div class="row web-mt40">
      
      <div class="col-lg-3 col-sm-4">
        <%= render 'mypage/mypage_left' %>
      </div>
      
      <div class="col-lg-6 col-sm-8">
        <h2>Pladuce News</h2>
        
        <div class="mypage-center top-planimage mt-4">
          <% @news.each do |news| %>
            <%= link_to news.title, information_path(news) %>
            
            <% if current_user.admin? && !(current_user == User) %>
            <%= link_to "編集", edit_information_path(news), class: 'btn btn-info btn-sm' %>
            <%= link_to "削除", information_path(news), method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
            
            <div class="text-right small bold">
            <i class="far fa-clock"></i><%= news.updated_at.strftime('%Y/%m/%d') %>
            </div>
            <hr>
          <% end %>
        </div>
        
        <div class="pagination justify-content-end pagination-sm">
          <%= paginate @news %>
        </div>
      </div>
      
      <div class="col-lg-3 d-none d-lg-block">
        <div class="mypage_right">
        <%= link_to image_tag("/assets/ad1.jpg", alt: "酔つ馬-YOTUBA-浅草橋東口店"), "https://tabelog.com/tokyo/A1311/A131103/13214556/", target: "_blank" %>
        </div>
      </div>
      
    </div>
  </div>