  <div class="container">
    <% breadcrumb :followings %>
    <%= render "layouts/breadcrumbs" %>
  </div>
  
  <div class="container mt-3">
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item bold"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
        <li class="nav-item bold"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
      </ul>
        
      <div class="row">
        <% @followings.each do |user| %>
          <div class="circle-image-sp100 col-4 mt-3 text-center">
            <%= link_to image_tag(user.image.plad.to_s), user_path(user) %>
            <p class="top-username"><%= link_to user.name, user_path(user) %></p>
            <p class="xxsmall web-mt-15 pl-1 pr-1"><%= user.catchphrase %></p>
          </div>
        <% end %>
      </div>
        
        <div class="pagination justify-content-end pagination-sm">
          <%= paginate @followings %>
        </div>
    

  </div>
        
        
        
        
  