  <div class="container-fluid">
    <% breadcrumb :followings %>
    <%= render "layouts/breadcrumbs" %>
    <div class="row web-mt40">
      
      <div class="col-lg-3 col-sm-4">
        <%= render 'mypage/mypage_left' %>
      </div>
      
      <div class="col-lg-6 col-sm-8">

        <ul class="nav nav-tabs nav-justified mb-3">
          <li class="nav-item bold"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
          <li class="nav-item bold"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
        </ul>
        
        <div class="row row-0">
        <% @followings.each do |user| %>
          <div class="circle-image col-sm-3 mt-3 web-center pl-1 pr-1">
            <%= link_to image_tag(user.image.plad.to_s), user_path(user) %>
            <p class="top-username bold"><%= link_to user.name, user_path(user) %></p>
            <p class="xxsmall web-mt-15"><%= user.catchphrase %></p>
          </div>
        <% end %>
        </div>
        
        <div class="pagination justify-content-end pagination-sm">
          <%= paginate @followings %>
        </div>
        
      </div>
      
      
      <div class="col-lg-3 d-none d-lg-block">
        <div class="mypage_right">
        <%= link_to image_tag("/assets/ad1.jpg", alt: "酔つ馬-YOTUBA-浅草橋東口店"), "https://tabelog.com/tokyo/A1311/A131103/13214556/", target: "_blank" %>
        </div>
      </div>
      
    </div>
  </div>