  <div class="container-fluid">
    <% breadcrumb :likes %>
    <%= render "layouts/breadcrumbs" %>
    <div class="row web-mt40">
      
      <div class="col-lg-3 col-sm-4">
        <%= render 'mypage/mypage_left' %>
      </div>
      
      <div class="col-lg-6 col-sm-8">
        
          <div class="row border-b mb-3">
            <div class="col-lg-8 col-sm-7 pt-2 pl-0">
              <span class="h3 bold h3-tb">お気に入りのプラン 　</span><span class="bold"><%= @count_favplans %> プラン</span>
            </div>
          
            <div class="col-lg-4 col-sm-5">
              <div class="form-group form-inline">
                <%= form_with(url: likes_user_path, method: :get, local: true) do |f| %>
                  <div class="input-group">
                    <%= f.text_field :search, value: params[:search], placeholder: "プラン絞り込み", class: 'form-control' %>
                    <span class="input-group-btn">
                      <%= button_tag '<i class="fas fa-search"></i>'.html_safe, :type => "submit", :class =>"btn btn-search", :style => "color:white;" %>
                    </span>
                  </div>

              </div>
            <% end %>
          </div>
        </div>
        
        <div class="mypage-center top-planimage mt-3">
        <% @favplans.each do |plan| %>
        <div class="row row-0">
          <div class="top-planimage col-sm-4 mt-2">
            <%= link_to image_tag(plan.image.thumb.to_s), plan_path(plan), data: {"turbolinks" => false} %>
          </div>
          <div class="col-sm-8 pl-2 mt-2">
            <%= link_to plan.plan_title.truncate(46), plan_path(plan), data: {"turbolinks" => false} %>
            <div class="small mt-1"><%= plan.content.truncate(62) %></div>
            
            <div class="tag xsmall bold mt-2">
              <%= link_to plan.category.category, category_path(plan.category.id) %>
            </div>
            
            <% if plan.spot.present? %>
            <div class="tag xsmall bold mt-2">
                <%= link_to plan.spot.name, spot_path(plan.spot.id) %>
            </div>
            <% end %>
            
            <div class="mt-2 small web-gray right">
              <i class="far fa-clock"></i><%= plan.updated_at.strftime('%Y/%m/%d') %>
              <span class="ml-2"><i class="far fa-heart mr-1"></i><%= plan.favorites.count %></span>
              <span class="ml-1"><i class="far fa-eye mr-1"></i><%= plan.impressions_count %></span>
            </div>
          </div>
        </div>  
        <% end %>
        </div>
        
        <div class="pagination justify-content-end pagination-sm">
          <%= paginate @favplans %>
        </div>
      </div>
      
      <div class="col-lg-3 d-none d-lg-block">
        <div class="mypage_right">
        <%= link_to image_tag("/assets/ad1.jpg", alt: "酔つ馬-YOTUBA-浅草橋東口店"), "https://tabelog.com/tokyo/A1311/A131103/13214556/", target: "_blank" %>
        </div>
      </div>
      
    </div>
  </div>






  