  <div class="container-fluid">
    <div class="row web-mt40">
      
      <div class="col-md-3 web-center">
          <!--<p class="bold">投稿数 <%= @count_plans %> プラン</p>-->
        <div class="circle-image">
          <%= image_tag @user.image.thumb150.url %>
        </div>
        <a href="#" class="follow-btn mt-4">フォローする</a>
        
      </div>

      <div class="col-md-6">
        
        <p class="bold"><%= @user.name %></p>
        <p class="small web-mt-15"><%= @user.catchphrase %></p>
        <%= simple_format(@user.introduce) %>
        <p class="bold">フォロー0人　フォロワー0人</p>
        
      </div>
      
      <div class="col-md-3">
        <div class="mypage_right">
        <image src="/assets/ad1.gif"></image>
        </div>
      </div>
      
    </div>
    
    
    <div class="row">
    
      <div class="col-md-9">
        <Hr>
          
        <% if @count_plans >= 1 %>
          <h3>投稿したプラン一覧 　<span class="small bold"><%= @count_plans %> プラン</span></h3>
        <% end %>

        <% @user_plans.each do |plan| %>
          <div class="web-flex planshow top-planimage mb-4">
          <div>
            <%= link_to image_tag(plan.image.to_s), plan_path(plan) %>
          </div>
          <div class="ml-3">
            <p><%= link_to plan.plan_title.truncate(55), plan_path(plan) %></p>
            <p class="small web-mt-8"><%= plan.content.truncate(115) %></p>
            <span class="small right">
              <p>
              <i class="far fa-clock"></i><%= plan.updated_at.strftime('%Y/%m/%d') %>
              <span class="ml-2"><i class="far fa-heart mr-1"></i><%= @count_likes %></span></p>
            </span>
          </div>
        </div>  
        <% end %>
        
        <div class="pagination justify-content-end pagination-sm">
          <%= paginate @user_plans %>
        </div>
        
      </div>
    
      <div class="col-md-3">
      </div>
    

    </div>
    
  </div>