<div class="overflow-hidden">

  <div class="slide-image mypattern mt-2">
    <div class="slide-title mr-1">
      <%= link_to image_tag("slide1.jpg"), plan_path(1), data: {"turbolinks" => false} %>
      <p class="text-center">【渋谷デート】学生～大人まで楽しめる！女性ウケ◎のおすすめプラン♡</p>
    </div>
    <div class="slide-title mr-1">
      <%= link_to image_tag("slide2.jpg"), plan_path(2), data: {"turbolinks" => false} %>
      <p class="text-center">天気の良い休日は鎌倉～江の島を1日満喫！海や神社巡りも！おすすめドライブコース♡</p>
    </div>
    <div class="slide-title mr-1">
      <%= link_to image_tag("slide3.jpg"), plan_path(3), data: {"turbolinks" => false} %>
      <p class="text-center">【鎌倉】インスタ映えするおすすめ女子旅プラン♡デートにも◎</p>
    </div>
    <div class="slide-title mr-1">
      <%= link_to image_tag("slide4.jpg"), plan_path(4), data: {"turbolinks" => false} %>
      <p class="text-center">東京の下町を歩く！デート・女子会♡【蔵前・両国・浅草橋】観光・雑貨屋巡りプラン♡</p>
    </div>
    <div class="slide-title mr-1">
      <%= link_to image_tag("slide5.jpg"), plan_path(5), data: {"turbolinks" => false} %>
      <p class="text-center">三重県 お伊勢参り 初めての【伊勢神宮】を参拝！</p>
    </div>
    <div class="slide-title mr-1">
      <%= link_to image_tag("slide6.jpg"), plan_path(6), data: {"turbolinks" => false} %>
      <p class="text-center">ファミリーにも！タピオカ&お買い物【新小岩】～【幕張】お出かけプラン☆</p>
    </div>
  </div>
  
  <%= render 'layouts/topform' %>

  <div class="container">
    
      <p class="newplan_title mt-3 mb-0"><%= image_tag "assets/icon_star.png" %>人気のプラン</p>
        
      <div class="row row-0">
        <% @most_viewed.each.with_index(1) do |rank| %>
          <div class="top-planimage col-6 mt-2">
              <%= link_to image_tag(rank.image.thumb.to_s), plan_path(rank), data: {"turbolinks" => false} %>
              <p class="top-plantitle mb-0"><%= link_to rank.plan_title.truncate(26), plan_path(rank), data: {"turbolinks" => false} %></p>
            <div class="tag xxsmall bold mt-2">
              <%= link_to rank.category.category, category_path(rank.category.id) %>
            </div>
            <% if rank.spot.present? %>
            <div class="tag xxsmall bold mt-2 mr-1">
              <%= link_to rank.spot.name, spot_path(rank.spot.id) %>
            </div>
            <% end %>
            <div class="top-user mt-2 web-gray xsmall">
              <i class="far fa-clock"></i><%= rank.updated_at.strftime('%Y/%m/%d') %>
            </div>
          </div>
        <% end %>
      </div>
        <div class="mt-2">
          <p style="text-align: right"><%= link_to "人気のプランをもっと見る　＞", popular_path %></p>
        </div>
        
  </div>
  <div class="line"></div>
        
        
  <div class="container">
        
        <p class="newplan_title mt-4 mb-0"><%= image_tag"icon_new.png" %>新着のプラン</p>
      <div class="row row-0">
        <% @plans.each do |plan| %>
          <div class="top-planimage col-6 mt-2">
              <%= link_to image_tag(plan.image.thumb.to_s), plan_path(plan), data: {"turbolinks" => false} %>
              <p class="top-plantitle mb-0"><%= link_to plan.plan_title.truncate(26), plan_path(plan), data: {"turbolinks" => false} %></p>
            <div class="tag xxsmall bold mt-2">
              <%= link_to plan.category.category, category_path(plan.category.id) %>
            </div>
            
            <% if plan.spot.present? %>
            <div class="tag xxsmall bold mt-2 mr-1">
              <%= link_to plan.spot.name, spot_path(plan.spot.id) %>
            </div>
            <% end %>
            
            <div class="top-user mt-2 web-gray xsmall">
              <i class="far fa-clock"></i><%= plan.updated_at.strftime('%Y/%m/%d') %>
            </div>
          </div>
        <% end %>
      </div>
        <div class="mt-2">
          <p class="mt-3" style="text-align: right"><%= link_to "新着のプランをもっと見る　＞", new_arrival_path %></p>
        </div>
        
  </div>
  <div class="line"></div>
        
  <div class="container">
  
          <p class="newplan_title mt-4 mb-0"><%= image_tag "icon_recommend.png" %>トレンドおすすめプラン</p>
        <div class="row row-0">
          <% @recomends.each do |plan| %>
            <div class="top-planimage col-6 mt-2">
                <%= link_to image_tag(plan.image.thumb.to_s), plan_path(plan), data: {"turbolinks" => false} %>
                <p class="top-plantitle mb-0"><%= link_to plan.plan_title.truncate(26), plan_path(plan), data: {"turbolinks" => false} %></p>
              <div class="tag xxsmall bold mt-2">
                <%= link_to plan.category.category, category_path(plan.category.id) %>
              </div>
              
              <% if plan.spot.present? %>
              <div class="tag xxsmall bold mt-2">
                <%= link_to plan.spot.name, spot_path(plan.spot.id) %>
              </div>
              <% end %>
              
              <div class="top-user mt-2 web-gray xsmall">
                <i class="far fa-clock"></i><%= plan.updated_at.strftime('%Y/%m/%d') %>
              </div>
            </div>
          <% end %>
        </div>
          <div class="mt-2">
            <p class="mt-3" style="text-align: right"><%= link_to "トレンドおすすめプランをもっと見る　＞", recommend_path %></p>
          </div>
          
   </div>
  <div class="line"></div>
        
        
  <div class="container">  
          <p class="newplan_title mt-4 mb-0"><%= image_tag "icon_popular.png" %>人気のプランナー</p>

        <div class="mt-2 img-_scroll">
        <% @users_sp.each do |user| %>
          <div class="circle-image-sp">
              <%= link_to image_tag(user.image.plad.to_s), user_path(user) %>
              <p class="top-username"><%= link_to user.name, user_path(user) %></p>
          </div>
        <% end %>
        </div>
          
            <p style="text-align: right"><%= link_to "人気のプランナーをもっと見る　＞", popular_users_path %></p>
            
  </div>
  <div class="line"></div>
  
  <div class="container">
        <div>
          <p class="font-weight-bold mt-4 mb-0">話題のキーワード</p>
          <% @tags.each do|tag| %>
            <span class="small mt-2 keywords">
              <%= link_to "#{tag.name} (#{tag.taggings_count})", keyword_path(tag: tag.name) %>  
            </span>
          <% end %>
        </div>
  </div>
  <div class="line mt-3"></div>
  
          
  <div class="container">
        
          <p class="bold mt-4">カテゴリーからプランを探す</p>
            <div class="top-item">
              <p class="category_item mb-1"><%= image_tag "icon_jyoshikai.png" %><%= link_to "女子会", category_path(1) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_date.png" %><%= link_to "デート", category_path(2) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_odekake.png" %><%= link_to "お出かけ", category_path(3) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_gourmet.png" %><%= link_to "グルメ・カフェ", category_path(4) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_drive.png" %><%= link_to "ドライブ", category_path(5) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_travel.png" %><%= link_to "旅行・観光", category_path(6) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_suprise.png" %><%= link_to "サプライズ", category_path(7) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_diet.png" %><%= link_to "ダイエット", category_path(8) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_training.png" %><%= link_to "トレーニング", category_path(9) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_study.png" %><%= link_to "スタディ", category_path(10) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>
            <div class="top-item">
              <p class="category_item mt-2 mb-1"><%= image_tag "icon_etc.png" %><%= link_to "その他", category_path(11) %>
              <span style="position: absolute; right: 0", class="mr-3"><i class="fas fa-angle-right web-gray"></i></span></span></p>
            </div>

  </div>
  <div class="line mt-3"></div>
  
  
  <div class="container">

          <p class="bold mt-4">エリアからプランを探す</p>
          
          <div class="accbox">

            <label for="label1"><span class="bold pl-2"><%= link_to "北海道", prefecture_path(1) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label1" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "北海道", city_path(1) %></p>
                </div>
                
            <label for="label2"><span class="bold pl-2 mt-2"><%= link_to "東北", prefecture_path(2) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label2" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "青森", city_path(2), class: "mr-1" %>┃<%= link_to "岩手", city_path(3), class: "mr-1" %>┃<%= link_to "宮城", city_path(4), class: "mr-1" %>┃<%= link_to "秋田", city_path(5), class: "mr-1" %>┃<%= link_to "山形", city_path(6), class: "mr-1" %>┃<%= link_to "福島", city_path(7) %></p>
                </div>
                
            <label for="label3"><span class="bold pl-2 mt-2"><%= link_to "関東", prefecture_path(3) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label3" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "茨城", city_path(12), class: "mr-1" %>┃<%= link_to "栃木", city_path(13), class: "mr-1" %>┃<%= link_to "群馬", city_path(14), class: "mr-1" %>┃<%= link_to "埼玉", city_path(11), class: "mr-1" %>┃<%= link_to "千葉", city_path(10), class: "mr-1" %>┃<%= link_to "東京", city_path(8), class: "mr-1" %>┃<%= link_to "神奈川", city_path(9) %></p>
                </div>
                
            <label for="label4"><span class="bold pl-2 mt-2"><%= link_to "甲信越", prefecture_path(4) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label4" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "山梨", city_path(15), class: "mr-1" %>┃<%= link_to "長野", city_path(16), class: "mr-1" %>┃<%= link_to "新潟", city_path(17) %></p>
                </div>
                
            <label for="label5"><span class="bold pl-2 mt-2"><%= link_to "北陸", prefecture_path(5) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label5" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "富山", city_path(18), class: "mr-1" %>┃<%= link_to "石川", city_path(19), class: "mr-1" %>┃<%= link_to "福井", city_path(20) %></p>
                </div>
                
            <label for="label6"><span class="bold pl-2 mt-2"><%= link_to "東海", prefecture_path(6) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label6" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "静岡", city_path(21), class: "mr-1" %>┃<%= link_to "岐阜", city_path(22), class: "mr-1" %>┃<%= link_to "愛知", city_path(23), class: "mr-1" %>┃<%= link_to "三重", city_path(24) %></p>
                </div>
                
            <label for="label7"><span class="bold pl-2 mt-2"><%= link_to "関西", prefecture_path(7) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label7" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "滋賀", city_path(29), class: "mr-1" %>┃<%= link_to "京都", city_path(26), class: "mr-1" %>┃<%= link_to "大阪", city_path(25), class: "mr-1" %>┃<%= link_to "兵庫", city_path(27), class: "mr-1" %>┃<%= link_to "奈良", city_path(28), class: "mr-1" %>┃<%= link_to "和歌山", city_path(30) %></p>
                </div>
                
            <label for="label8"><span class="bold pl-2 mt-2"><%= link_to "中国", prefecture_path(8) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label8" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "鳥取", city_path(31), class: "mr-1" %>┃<%= link_to "島根", city_path(32), class: "mr-1" %>┃<%= link_to "岡山", city_path(33), class: "mr-1" %>┃<%= link_to "広島", city_path(34), class: "mr-1" %>┃<%= link_to "山口", city_path(35) %></p>
                </div>
                
            <label for="label9"><span class="bold pl-2 mt-2"><%= link_to "四国", prefecture_path(9) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label9" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "徳島", city_path(36), class: "mr-1" %>┃<%= link_to "香川", city_path(37), class: "mr-1" %>┃<%= link_to "愛媛", city_path(38), class: "mr-1" %>┃<%= link_to "高知", city_path(39) %></p>
                </div>
                
            <label for="label10"><span class="bold pl-2 mt-2"><%= link_to "九州", prefecture_path(10) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label10" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "福岡", city_path(40), class: "mr-1" %>┃<%= link_to "佐賀", city_path(41), class: "mr-1" %>┃<%= link_to "長崎", city_path(42), class: "mr-1" %>┃<%= link_to "熊本", city_path(43), class: "mr-1" %>┃<%= link_to "大分", city_path(44), class: "mr-1" %>┃<%= link_to "宮崎", city_path(45), class: "mr-1" %>┃<%= link_to "鹿児島", city_path(46) %></p>
                </div>
                
            <label for="label11"><span class="bold pl-2 mt-2"><%= link_to "沖縄", prefecture_path(11) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label11" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "沖縄", city_path(47) %></p>
                </div>
                
            <label for="label12"><span class="bold pl-2 mt-2"><%= link_to "海外", prefecture_path(12) %></span><span style="position: absolute; right: 0", class="mr-4 small web-gray">▼</span></label>
              <input type="checkbox" id="label12" class="cssacc" />
                <div class="accshow">
                  <p class="small ml-3"><%= link_to "海外", prefecture_path(12) %></p>
                </div>
                
          </div>
            
  </div>

</div>
