  <div class="container w-50">

    <div class="text-center mt-3">
      <h2>アカウント情報変更</h2>
    </div>

    <div class="row">
      <div class="offset-md-2 col-md-8">

        <%= form_with(model: @user, local: true) do |f| %>

          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
      
          <div class="form-group">
            <%= f.label :password, '新しいパスワード' %>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, '新しいパスワード(確認用)' %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control mb-5' %>
          </div>
      

          <%= f.submit '更新する', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
</div>