      <div class="container">
        <% breadcrumb :city, @city %>
        <%= render "layouts/breadcrumbs" %>
        
        <% @city.spots.each do |spot| %>
          <%= link_to spot_path(spot.id), class: "btn btn-outline-secondary btn-sm mt-3" do %>
            <i class="fas fa-map-marker-alt"></i> <%= spot.name %>
          <% end %>
        <% end %>

        <p class="newplan_title mt-4 mb-0"><i class="fas fa-chess-queen mr-1 web-pb3"></i>【<%= @city.name %>】のプランの一覧　<span class="small"><%= @plans.count %>件</span></p>
        
        <% if @plans.count == 0 %>
          <% if logged_in? %>
            <div class="mt-5 text-center">
              まだ投稿されたプランがありません。<br>
              あたなのプランを投稿してみませんか？<br>
              <li class="nav-item btn btn-sm btn-plan mt-2"><%= link_to new_plan_path, data: {"turbolinks" => false}, class: 'nav-link',:style=>"color:white;" do %><%= image_tag "/assets/icon_plan.png" %>プラン作成<% end %></li>
            </div>
          <% else %>
            <div class="mt-5 text-center">
              まだ投稿されたプランがありません。<br>
              プランナーになってあたなのプランを投稿してみませんか？<br>
              会員登録はたったの2ステップ、1分でOK!!<br>
              <%= link_to "会員登録(無料)", signup_path, class: "btn btn-info mt-2" %>
            </div>
          <% end %>
        <% end %>
    
        <div class="row row-0 mt-2">
      <% @plans.each do |plan| %>
      <div class="image-gold col-sm-3 mt-3">
        <div class="pr-1 pl-1">
          <%= link_to image_tag(plan.image.thumb.to_s), plan_path(plan), data: {"turbolinks" => false} %>
        </div>
        <p class="top-plantitle mb-0 pr-1 pl-1"><%= link_to plan.plan_title.truncate(42), plan_path(plan), data: {"turbolinks" => false} %></p>
            <div class="tag xsmall bold mt-2">
              <%= link_to plan.category.category, category_path(plan.category.id) %>
            </div>
            <div class="tag xsmall bold mt-2 mr-1">
                <%= link_to plan.spot.name, spot_path(plan.spot.id) %>
            </div>
            <div class="top-user mt-2 web-gray xsmall">
                <i class="far fa-clock"></i><%= plan.updated_at.strftime('%Y/%m/%d') %>
            </div>
          </div>
          <% end %>
        </div>
    
        <div class="pagination justify-content-end pagination-sm">
        <%= paginate @plans %>
        </div>
    
      </div>