<div class="text-center">
<h2>プラン投稿</h2>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
<%= form_with(model: @plan, local: true) do |f| %>

    <div class="form-group">
        <%= f.label :plan_title, 'プランタイトル【必須】' %>
        <%= f.text_field :plan_title, placeholder: '50文字以内', class: 'form-control' %>
    </div>
    
<div class="plan-image">
    <% if @plan.image? %>
    <%= image_tag @plan.image.thumb200.url, id: :img_prev %>
    <p><%= f.check_box :remove_image %>画像を削除する</p>
    <% else %>
    <%= image_tag "default_plan.jpg", id: :img_prev %>
    <% end %>
    <%= f.file_field :image, id: :plan_img %>
    <p>※第三者の著作権、プライバシー権その他の権利を侵害しないよう留意してください</p>
</div>
    
    <!--画像即時にプレビューjavascript-->
    <script type="text/javascript">
    $(function() {
     function readURL(input) {
     if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
     }
     }
     $("#plan_img").change(function(){
     readURL(this);
     });
    });
    </script>
      
      <div class="form-group">
        <%= f.label :content, 'サブタイトル・説明' %>
        <%= f.text_area :content, :maxlength => "255", :size => "80x4",  class: 'form-control'  %>
      </div>
      
      <hr>
      
      <%= f.fields_for :schedules do |s| %>
      
      <div class="form-group">
        <%= s.label :schedule_title, '見出しを入力【必須】' %>
        <%= s.text_field :schedule_title, placeholder: '50文字以内', class: 'form-control' %>
        
        <%= s.label :start_time, '開始時刻' %>
        <%= s.time_field :start_time, class: 'form-control' %>
        
        <%= s.label :end_time, '終了時刻' %>
        <%= s.time_field :end_time, class: 'form-control' %>
        
        <%= s.label :content, '説明を追加' %>
        <%= s.text_area :content, :size => "80x5",  class: 'form-control'  %>
        
        <%= s.label :spot_name, 'スポット名' %>
        <%= s.text_field :spot_name, placeholder: 'スポット名や店名などを入力', class: 'form-control' %>
        
        <%= s.label :address, '住所' %>
        <%= s.text_field :address, placeholder: '住所を入力', class: 'form-control' %>
        
        <%= s.label :access, 'アクセス' %>
        <%= s.text_field :access, placeholder: '最寄り駅からの時間や道順などを入力', class: 'form-control' %>
        
        <%= s.label :business_hour, '営業時間' %>
        <%= s.text_field :business_hour, placeholder: '営業時間を入力', class: 'form-control' %>
        
        <%= s.label :regular_holiday, '定休日' %>
        <%= s.text_field :regular_holiday, class: 'form-control' %>
        
        <%= s.label :tel, '電話番号' %>
        <%= s.text_field :tel, class: 'form-control' %>
        
        <%= s.label :parking, '駐車場' %>
        <%= s.text_field :parking, placeholder: '駐車場の有無など', class: 'form-control' %>
        
        <%= s.label :budget, '価格・予算' %>
        <%= s.text_field :budget, class: 'form-control' %>
        
        <%= s.label :link_url, 'リンク' %>
        <%= s.url_field :link_url, placeholder: 'リンクを追加', class: 'form-control' %>
        
        <%= s.label :comment, 'コメント' %>
        <%= s.text_area :comment, :size => "80x3",  class: 'form-control'  %>
      </div>
    
      <% end %>

<%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
<% end %>
  </div>
</div>