  <div class="container">
    <% breadcrumb :plan, @plan %>
    <%= render "layouts/breadcrumbs" %>
    <div class="row">
      
      <div class="web_container mt-4 col-md-9">
        
        <div class="web-gray">
        <i class="far fa-clock"></i><%= @plan.updated_at.strftime('%Y/%m/%d') %>
        <span class="ml-2"><i class="far fa-heart mr-1"></i><%= @count_likes %></span>
        <span class="ml-1"><i class="far fa-eye mr-1"></i><%= @plan.impressions_count %></span>
        </div>
        
          <div class="mt-2 tag small bold">
            <%= @plan.category.category if @plan.category_id? %>
          </div>

        <div>
          <% @keywords.each do |keyword| %>
          <span><%= keyword.name %></span>
          <% end %>
        </div>

        <div class="mt-3">
          <h2><%= @plan.plan_title %></h2>
        </div>

        <div class="planshow-image web-mt20">
          <% if @plan.image? %>
            <%= image_tag @plan.image.url %>
          <% end %>
        </div>
        
        <div class="web-mt20">
          <%= simple_format(@plan.content) %>
        </div>


        <div class="plan-details_container">
          <p class="web-center">プラン概要</p>

          <% @schedules.each do |schedule| %>
          <div class="web-flex">
            <% if schedule.start_time.present? %>
              ▶ <%= schedule.start_time %>～
            <% end %>
            <% if schedule.end_time.present? %>
              <%= schedule.end_time %>　
            <% end %>
          
            <div class="schedule_title">
            <%= link_to schedule.schedule_title, "#schedule_title#{schedule.id}", :style=>"color:black;" %>
            </div>
          </div>
          <% end %>
        </div>


        <% @schedules.each do |schedule| %>
        
          <% if schedule.schedule_title.present? %>
            <div class="mt-3 mb-4" id="schedule_title<%= schedule.id %>">
              <h3><%= schedule.schedule_title %></h3>
            </div>
          <% end %>
            
          <% if schedule.sub_title.present? %>
            <span class="sub_title"><%= schedule.sub_title %></span>
          <% end %>
          


          <% if schedule.image4.present? %>
          <div class="image_box row row-0 mt-4">
            <div class="box3 col-12 mb-1">
              <% if schedule.image1.present? %>
                <%= image_tag schedule.image1.url %>
              <% end %>
            </div>

            <div class="box3-2 col-4 pr-1">
            <% if schedule.image2.present? %>
              <%= image_tag schedule.image2.url %>
            <% end %>
            </div>
            
            <div class="box3-2 col-4">
            <% if schedule.image3.present? %>
              <%= image_tag schedule.image3.url %>
            <% end %>
            </div>
            
            <div class="box3-2 col-4 pl-1">
            <% if schedule.image4.present? %>
              <%= image_tag schedule.image4.url %>
            <% end %>
            </div>
          </div>

          
          
          <% elsif schedule.image3.present? %>
          <div class="image_box row row-0 mt-4">
            <div class="box3 col-12 mb-1">
              <% if schedule.image1.present? %>
                <%= image_tag schedule.image1.url %>
              <% end %>
            </div>

            <div class="box3-2 col-6 pr-1">
            <% if schedule.image2.present? %>
              <%= image_tag schedule.image2.url %>
            <% end %>
            </div>
            
            <div class="box3-2 col-6">
            <% if schedule.image3.present? %>
              <%= image_tag schedule.image3.url %>
            <% end %>
            </div>
          </div>

          
          <% elsif schedule.image2.present? %>
          <div class="image_box row row-0 mt-4">
            <div class="box2 col-6 pr-1">
              <% if schedule.image1.present? %>
                <%= image_tag schedule.image1.url %>
              <% end %>
            </div>

            <div class="box2-2 col-6">
            <% if schedule.image2.present? %>
              <%= image_tag schedule.image2.url %>
            <% end %>
            </div>
          </div>

          
          <% else schedule.image1.present? %>
          <div class="image_box row row-0">
            <div class="box1 col-12">
              <% if schedule.image1.present? %>
                <%= image_tag schedule.image1.url %>
              <% end %>
            </div>
          </div>
          <% end %>

            
          

          <% if schedule.content.present? %>
            <p class="web-mt20"><%= simple_format(schedule.content) %></p>
          <% end %>

          <% if schedule.spot_name.present? %>
          <div class="spot-details_container">
  
            <h4><%= schedule.spot_name %></h4>
          <% end %>
          
          <% if schedule.address.present? %>
            <p class="small web-mt20">住所：　　　<%= schedule.address %></p>
          <% end %>
          
          <% if schedule.access.present? %>
            <p class="small">アクセス：　<%= schedule.access %></p>
            <p class="small">　　　　　　<%= schedule.access %></p>
          <% end %>
          
          <% if schedule.business_hour.present? %>
            <p class="small">営業時間：　<%= schedule.business_hour %></p>
          <% end %>
          
          <% if schedule.regular_holiday.present? %>
            <p class="small">定休日：　　<%= schedule.regular_holiday %></p>
          <% end %>
          
          <% if schedule.tel.present? %>
            <p class="small">電話番号：　<%= schedule.tel %></p>
          <% end %>
          
          <% if schedule.parking.present? %>
            <p class="small">駐車場：　　<%= schedule.parking %></p>
          <% end %>
          
          <% if schedule.budget.present? %>
            <p class="small">価格・予算：<%= schedule.budget %></p>
          <% end %>
          
          <% if schedule.link_url.present? %>
            <p class="small">リンク：　　<%= text_url_to_link(h(schedule.link_url)).html_safe %></p>
          <% end %>
          
          <% if schedule.comment.present? %>
            <p class="small web-mt20"><%= schedule.comment %></p>
          <% end %>
          
          <% if schedule.spot_name.present? %>
          </div>
          <% end %>
          
        <% end %>
        
          <p class="xsmall mt-3">※掲載されている情報は、<%= @plan.updated_at.strftime('%Y/%m/%d') %>時点の情報です。情報が変更されている可能性がありますので、必ず事前にお調べください。</p>
        
      </div>


      <div class="container_right col-md-3 web-mt40">
        
        <% if logged_in? %>
          <% if current_user == @plan.user %>
            <div class="plan_edit text-center">
            <%= link_to "プランを編集", edit_plan_path, class: 'btn btn-primary btn-sm' %>
            <%= link_to "削除", plan_path(@plan.id), method: :delete, data: { confirm: "本当に削除してもいいですか？" }, class: 'btn btn-danger btn-sm' %>
            </div>
          <% end %>
        <% end %>
        
        <div class="introduce mt-3">
          
          <div class="web-flex">
            <div>
              <%= link_to image_tag(@plan.user.image.thumb130.url), user_path(@plan.user) %>
            </div>
            
            <div class="introduce-name">
              
              <% if current_user == @plan.user %>
                <div class="mt-3">
                  <%= link_to @plan.user.name, user_path(@plan.user),:style=>"color:black;" %>
                  <p><%= @plan.user.catchphrase %></p>
                </div>
              <% else %>
                  <%= link_to @plan.user.name, user_path(@plan.user),:style=>"color:black;" %>
                  <p><%= @plan.user.catchphrase %></p>
              <% end %>  
              
              <% if logged_in? %>
                <%= render 'relationships/follow_button_other', plan: @plan %>
              <% else %>
                <%= link_to "フォローする", login_path, class: "follow-btn mt-2" %>
              <% end %>
            </div>
          </div>
          
          <% if current_user == @plan.user %>
            <p class="xsmall mt-3"><%= @plan.user.introduce %></p>
          <% else %>
            <p class="xsmall"><%= @plan.user.introduce %></p>
          <% end %>
        </div>
        
          <div class="flex icon text-center">
              <%= render 'favorites/like_button', plan: @plan %>
            <div class="mt-3">
              <i class="fab fa-instagram fa-2x instaicon"></i>
              <i class="fab fa-line fa-2x lineicon"></i>
              <i class="fab fa-twitter-square fa-2x twicon"></i>
              <i class="fab fa-facebook-square fa-2x fbicon"></i>
            </div>
          </div>
        
      </div>
      

    </div>
  </div>
