  <div class="container">
    <% breadcrumb :plan, @plan %>
    <%= render "layouts/breadcrumbs" %>
  </div>
    
  <div class="container-fluid">
    <div class="row">
      
      <div class="web_container mt-4 offset-sm-1 col-sm-7">
        
        <div class="web-gray">
          <i class="far fa-clock"></i><%= @plan.updated_at.strftime('%Y/%m/%d') %>
          <span class="ml-2"><i class="far fa-heart mr-1"></i><%= @count_likes %></span>
          <span class="ml-1"><i class="far fa-eye mr-1"></i><%= @plan.impressions_count %></span>
        </div>
        

          <div class="mt-2 tag small bold">
            <%= link_to @plan.category.category, category_path(@plan.category) %>
          </div>

          <% if @plan.spot.present? %>
          <div class="mt-2 tag small bold">
            <%= link_to @plan.spot.name, spot_path(@plan.spot) %>
          </div>
          <% end %>
          
          <!--<% if @plan.budget.present? %>-->
          <!--<div class="mt-2 tag small bold">-->
          <!--  <%= @plan.budget.name %>-->
          <!--</div>-->
          <!--<% end %>-->
          
          <%= render partial: 'tags', locals: { tags: @plan.tags } %>

        <div class="mt-3">
          <h2><%= @plan.plan_title %></h2>
        </div>

        <div class="planshow-image mt-2">
          <% if @plan.image? %>
            <%= image_tag @plan.image.thumb.url %>
          <% end %>
        </div>
        
        <div class="web-mt20 medium-tb">
          <%= simple_format(@plan.content) %>
        </div>


        <div class="plan-details_container">
          <p class="web-center">プラン概要 
            <% if @plan.budget.present? %>
              <span class="mt-2 xsmall bold">
                [予算:
                <%= @plan.budget.name %>
                ]
              </span>
            <% end %>
          </p>
          
          
          <% @schedules.each do |schedule| %>
          <div class="row row-0">
          <% if schedule.start_time.present? or schedule.end_time.present? %>
          <div class="time medium xsmall-tb col-sm-3">
            <% if schedule.start_time.present? %>
              ▶ <%= schedule.start_time %>～
            <% end %>
            <% if schedule.end_time.present? %>
              <%= schedule.end_time %>　
            <% end %>
          </div>
          <% end %>
          
            <div class="schedule_title small-tb col-sm-9">
            <%= link_to schedule.schedule_title, "#schedule_title#{schedule.id}", :style=>"color:black;" %>
            </div>
          </div>
          <% end %>
          

        </div>


        <% @schedules.each do |schedule| %>
        
          <% if schedule.schedule_title.present? %>
            <div class="mt-3 mb-2" id="schedule_title<%= schedule.id %>">
              <h3><%= schedule.schedule_title %></h3>
            </div>
          <% end %>
            
          <% if schedule.sub_title.present? %>
            <span class="sub_title"><%= schedule.sub_title %></span>
          <% end %>
          

          <% if schedule.image4.present? %>
          <div class="image_box row row-0 mt-1">
            <div class="box3 col-12 mb-1">
              <% if schedule.image1.present? %>
                <!--<%= image_tag schedule.image1.url %>-->
                <%= link_to image_tag(schedule.image1.thumb.url),schedule.image1.url,:rel => "lightbox=image#{schedule.id}"%>
              <% end %>
            </div>

            <div class="box3-2 col-4 pr-1">
            <% if schedule.image2.present? %>
              <%= link_to image_tag(schedule.image2.thumb.url),schedule.image2.url,:rel => "lightbox=image#{schedule.id}"%>
            <% end %>
            </div>
            
            <div class="box3-2 col-4">
            <% if schedule.image3.present? %>
              <%= link_to image_tag(schedule.image3.thumb.url),schedule.image3.url,:rel => "lightbox=image#{schedule.id}"%>
            <% end %>
            </div>
            
            <div class="box3-2 col-4 pl-1">
            <% if schedule.image4.present? %>
              <%= link_to image_tag(schedule.image4.thumb.url),schedule.image4.url,:rel => "lightbox=image#{schedule.id}"%>
            <% end %>
            </div>
          </div>

          
          
          <% elsif schedule.image3.present? %>
          <div class="image_box row row-0 mt-1">
            <div class="box3 col-12 mb-1">
              <% if schedule.image1.present? %>
                <%= link_to image_tag(schedule.image1.thumb.url),schedule.image1.url,:rel => "lightbox=image#{schedule.id}"%>
              <% end %>
            </div>

            <div class="box3-2 col-6 pr-1">
            <% if schedule.image2.present? %>
              <%= link_to image_tag(schedule.image2.thumb.url),schedule.image2.url,:rel => "lightbox=image#{schedule.id}"%>
            <% end %>
            </div>
            
            <div class="box3-2 col-6">
            <% if schedule.image3.present? %>
              <%= link_to image_tag(schedule.image3.thumb.url),schedule.image3.url,:rel => "lightbox=image#{schedule.id}"%>
            <% end %>
            </div>
          </div>

          
          <% elsif schedule.image2.present? %>
          <div class="image_box row row-0 mt-1">
            <div class="box2 col-6 pr-1">
              <% if schedule.image1.present? %>
                <%= link_to image_tag(schedule.image1.thumb.url),schedule.image1.url,:rel => "lightbox=image#{schedule.id}"%>
              <% end %>
            </div>

            <div class="box2-2 col-6">
            <% if schedule.image2.present? %>
              <%= link_to image_tag(schedule.image2.thumb.url),schedule.image2.url,:rel => "lightbox=image#{schedule.id}"%>
            <% end %>
            </div>
          </div>

          
          <% else schedule.image1.present? %>
          <div class="image_box row row-0 mt-1">
            <div class="box1 col-12">
              <% if schedule.image1.present? %>
                <%= link_to image_tag(schedule.image1.thumb.url),schedule.image1.url,:rel => "lightbox=image#{schedule.id}"%>
              <% end %>
            </div>
          </div>
          <% end %>

            
          

          <% if schedule.content.present? %>
            <div class="mt-2"><%= simple_format(schedule.content, class: "small-tb") %></div>
          <% end %>
          
          <% if schedule.spot_name.present? %>
          <div class="spot-details_container">
  
            <h4><%= schedule.spot_name %></h4>
          <% end %>
          
          
          <% if schedule.address.present? %>
          <div class="row row-0 medium-tb">
            <div class="col-sm-auto small">
              住所：　　　
            </div>
            <div class="col-sm-9 small">
              <%= schedule.address %>
            </div>
          </div>
          <% end %>
          
          <% if schedule.access.present? %>
          <div class="row row-0 medium-tb">
            <div class="col-sm-auto small mt-1">
              アクセス：　
            </div>
            <div class="col-sm-9 small mt-1">
              <%= schedule.access %>
            </div>
          </div>
          <% end %>
          
          <% if schedule.access2.present? %>
          <div class="row row-0 medium-tb">
            <div class="col-sm-auto small">
              　　　　　　
            </div>
            <div class="col-sm-9 small">
              <%= schedule.access2 %>
            </div>
          </div>
          <% end %>
          
          <% if schedule.business_hour.present? %>
          <div class="row row-0 medium-tb">
            <div class="col-sm-auto small mt-1">
              営業時間：　
            </div>
            <div class="col-sm-9 small mt-1">
              <%= schedule.business_hour %>
            </div>
          </div>
          <% end %>
          
          <% if schedule.regular_holiday.present? %>
          <div class="row row-0 medium-tb">
            <div class="col-sm-auto small mt-1">
              定休日：　　
            </div>
            <div class="col-sm-9 small mt-1">
              <%= schedule.regular_holiday %>
            </div>
          </div>
          <% end %>
          
          <% if schedule.tel.present? %>
          <div class="row row-0 medium-tb">
            <div class="col-sm-auto small mt-1">
              電話番号：　
            </div>
            <div class="col-sm-9 small mt-1">
              <%= schedule.tel %>
            </div>
          </div>
          <% end %>
          
          <% if schedule.parking.present? %>
          <div class="row row-0 medium-tb">
            <div class="col-sm-auto small mt-1">
              駐車場：　　
            </div>
            <div class="col-sm-9 small mt-1">
              <%= schedule.parking %>
            </div>
          </div>
          <% end %>

          <% if schedule.budget.present? %>
          <div class="row row-0 medium-tb">
            <div class="col-sm-auto small mt-1">
              価格・予算：
            </div>
            <div class="col-sm-9 small mt-1">
              <%= schedule.budget %>
            </div>
          </div>
          <% end %>
          
          <% if schedule.link_url.present? %>
          <div class="row row-0 medium-tb">
            <div class="col-sm-auto small mt-1">
              リンク：　　
            </div>
            <div class="col-sm-9 small mt-1">
              <%= text_url_to_link(h(schedule.link_url)).html_safe %>
            </div>
          </div>
          <% end %>

          <% if schedule.comment.present? %>
            <!--<div class="small mt-1"><%= schedule.comment %></div>-->
            <div class="small mt-1"><%= text_url_to_link(h(schedule.comment)).html_safe %></div>
          <% end %>
          
          <% if schedule.spot_name.present? %>
          </div>
          <% end %>
          

          

          
          <!--<% if schedule.spot_name.present? %>-->
          <!--<div class="spot-details_container">-->
  
          <!--  <h4><%= schedule.spot_name %></h4>-->
          <!--<% end %>-->
          
          <!--<% if schedule.address.present? %>-->
          <!--  <div class="small">住所：　　　<%= schedule.address %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.access.present? %>-->
          <!--  <div class="small mt-1">アクセス：　<%= schedule.access %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.access2.present? %>-->
          <!--  <div class="small mt-1">　　　　　　<%= schedule.access2 %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.business_hour.present? %>-->
          <!--  <div class="small mt-1">営業時間：　<%= schedule.business_hour %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.regular_holiday.present? %>-->
          <!--  <div class="small mt-1">定休日：　　<%= schedule.regular_holiday %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.tel.present? %>-->
          <!--  <div class="small mt-1">電話番号：　<%= schedule.tel %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.parking.present? %>-->
          <!--  <div class="small mt-1">駐車場：　　<%= schedule.parking %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.budget.present? %>-->
          <!--  <div class="small mt-1">価格・予算：<%= schedule.budget %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.link_url.present? %>-->
          <!--  <div class="small mt-1">リンク：　　<%= text_url_to_link(h(schedule.link_url)).html_safe %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.comment.present? %>-->
          <!--  <div class="small mt-1"><%= schedule.comment %></div>-->
          <!--<% end %>-->
          
          <!--<% if schedule.spot_name.present? %>-->
          <!--</div>-->
          <!--<% end %>-->
          
        <% end %>
        
          <p class="xsmall mt-3">※掲載されている情報は、<%= @plan.updated_at.strftime('%Y/%m/%d') %>時点の情報です。情報が変更されている可能性がありますので、必ず事前にお調べください。</p>

        <% if @relation_plans.present? %>
          <div class="newplan_title mt-4"><img src="../assets/icon_relation.png">関連したプラン</div>
        <% end %>
          <div class="row row-0">
            <% @relation_plans.each do |plan| %>
              
              <div class="relation-planimage col-sm-3">
                  <div class="mt-2">
                    <%= link_to image_tag(plan.image.thumb150.to_s), plan_path(plan), data: {"turbolinks" => false} %>
                  </div>
                  <p class="top-plantitle mb-0"><%= link_to plan.plan_title.truncate(42), plan_path(plan), data: {"turbolinks" => false} %></p>

                <div class="tag xxsmall bold mt-2">
                  <%= link_to plan.category.category, category_path(plan.category.id) %>
                </div>
                <div class="tag xxsmall bold mt-2">
                  <%= link_to plan.spot.name, spot_path(plan.spot.id) %>
                </div>
                <div class="top-user mt-2 web-gray xxsmall">
                  <i class="far fa-clock"></i><%= plan.updated_at.strftime('%Y/%m/%d') %>
                </div>
              </div>

            <% end %>
          </div>
        
        </div>


      <div class="container_right col-sm-3 mt-4">
        
        <% if logged_in? %>
          <% if current_user == @plan.user || current_user.admin? %>
            <div class="plan_edit text-center">
            <%= link_to "プランを編集", edit_plan_path, data: {"turbolinks" => false}, class: 'btn btn-primary btn-sm' %>
            <%= link_to "削除", plan_path(@plan.id), method: :delete, data: { confirm: "本当に削除してもいいですか？" }, class: 'btn btn-danger btn-sm' %>
            </div>
          <% end %>
        <% end %>
        

        <div class="introduce mt-3">
          
          <div class="row row-0 text-center mb-3">
            
            <div class="col-lg-6 mt-1">
              <%= link_to image_tag(@plan.user.image.plad.url), user_path(@plan.user) %>
            </div>
            
            <div class="introduce-name col-lg-6 mt-1">
              <% if current_user == @plan.user %>
                <div class="mt-3">
                  <%= link_to @plan.user.name, user_path(@plan.user),:style=>"color:black;" %>
                  <p><%= @plan.user.catchphrase %></p>
                </div>
              <% else %>
                <div class="">
                  <%= link_to @plan.user.name, user_path(@plan.user),:style=>"color:black;" %>
                </div>
                  <p><%= @plan.user.catchphrase %></p>
              <% end %>  
              
              <% if logged_in? %>
                <%= render 'relationships/follow_button_other', plan: @plan %>
              <% else %>
                <%= link_to "フォローする", login_path, class: "follow-btn mt-2" %>
              <% end %>
            </div>
            
          </div>
          
          <% if current_user == @plan.user %>
            <p class="xsmall mt-3"><%= @plan.user.introduce %></p>
          <% else %>
            <p class="xsmall"><%= @plan.user.introduce %></p>
          <% end %>
        </div>
        
          <div class="flex icon text-center">
              <%= render 'favorites/like_button', plan: @plan %>
            <div class="mt-3">
              <!--<i class="fab fa-instagram fa-2x instaicon"></i>-->
              <a href="https://timeline.line.me/social-plugin/share?url=?<%= request.url %>" rel="nofollow" target="_blank"><i class="fab fa-line fa-2x lineicon", title="LINEでシェア"></i></a>
              
              <a href="https://twitter.com/share?url=<%= request.url %>&text=<%= @plan.plan_title %>" rel="nofollow" target="_blank"><i class="fab fa-twitter-square fa-2x twicon", title="twitterでシェア"></i></a>
              <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.url %>" rel="nofollow" target="_blank"><i class="fab fa-facebook-square fa-2x fbicon", title="facebookでシェア"></i></a>
              

            </div>
          </div>
          
          <!--<div class="mypage_right mt-2">-->
          <!--  <image src="/assets/ad1.gif"></image>-->
          <!--</div>-->

          <p class="newplan_title mt-3 mb-0"><img src="../assets/icon_star.png">人気のプラン</p>
          
          <div class="row row-0">
          <% @most_viewed.each.with_index(1) do |rank| %>
          
            <div class="side-planimage col-lg-5 pr-2 mt-2">
              <%= link_to image_tag(rank.image.to_s), plan_path(rank), data: {"turbolinks" => false} %>
            </div>
            
            <div class="col-lg-7">
              <div class="xsmall bold mt-2">
                <%= link_to rank.plan_title.truncate(26), plan_path(rank), data: {"turbolinks" => false} %>
              </div>
            
              <div class="tag xxsmall bold">
                <%= link_to rank.category.category, category_path(rank.category.id) %>
              </div>
              
              <% if rank.spot.present? %>
              <div class="tag xxsmall bold mt-2">
                <%= link_to rank.spot.name, spot_path(rank.spot.id) %>
              </div>
              <% end %>
              
              <div class="top-user mt-1 web-gray xxsmall">
                <i class="far fa-clock"></i><%= rank.updated_at.strftime('%Y/%m/%d') %>
              </div>
            </div>
          <% end %>
          </div>

          <p class="text-right mt-3 small bold"><%= link_to "人気のプランをもっと見る　＞", popular_path %></p>


          
          <p class="newplan_title mt-3 mb-0"><img src="../assets/icon_new.png">新着のプラン</p>
          
          <div class="row row-0">
          <% @plans.each do |plan| %>
          
            <div class="side-planimage col-lg-5 pr-2 mt-2">
              <%= link_to image_tag(plan.image.to_s), plan_path(plan), data: {"turbolinks" => false} %>
            </div>
            
            <div class="col-lg-7">
              <div class="xsmall bold mt-2">
                <%= link_to plan.plan_title.truncate(26), plan_path(plan), data: {"turbolinks" => false} %>
              </div>
            
              <div class="tag xxsmall bold mt-2">
                <%= link_to plan.category.category, category_path(plan.category.id) %>
              </div>
              
              <% if plan.spot.present? %>
              <div class="tag xxsmall bold mt-2">
                <%= link_to plan.spot.name, spot_path(plan.spot.id) %>
              </div>
              <% end %>
              
              <div class="top-user mt-1 web-gray xxsmall">
                <i class="far fa-clock"></i><%= plan.updated_at.strftime('%Y/%m/%d') %>
              </div>
            </div>
          <% end %>
          </div>

          <p class="text-right mt-3 xsmall bold"><%= link_to "新着のプランをもっと見る　＞", new_arrival_path %></p>
          
          
          
          <p class="newplan_title mt-3 mb-0"><img src="../assets/icon_recommend.png">トレンドおすすめプラン</p>
          
          <div class="row row-0">
          <% @recomends.each do |plan| %>
          
            <div class="side-planimage col-lg-5 pr-2 mt-2">
              <%= link_to image_tag(plan.image.to_s), plan_path(plan), data: {"turbolinks" => false} %>
            </div>
            
            <div class="col-lg-7">
              <div class="xsmall bold mt-2">
                <%= link_to plan.plan_title.truncate(26), plan_path(plan), data: {"turbolinks" => false} %>
              </div>
            
              <div class="tag xxsmall bold mt-2">
                <%= link_to plan.category.category, category_path(plan.category.id) %>
              </div>
              
              <% if plan.spot.present? %>
              <div class="tag xxsmall bold mt-2">
                <%= link_to plan.spot.name, spot_path(plan.spot.id) %>
              </div>
              <% end %>
              
              <div class="top-user mt-1 web-gray xxsmall">
                <i class="far fa-clock"></i><%= plan.updated_at.strftime('%Y/%m/%d') %>
              </div>
            </div>
          <% end %>
          </div>

          <p class="text-right mt-3 small bold"><%= link_to "トレンドおすすめプランをもっと見る　＞", recommend_path %></p>
          
          

          
      </div>
        
      

    </div>
  </div>
