    <footer>
      <div class="container mt-5">
        <div class="row pt-4">
          
          <div class="footer1 col-sm-4 p-3">
            <p class="h6"><strong>Pladuce（プラデュース）とは</strong></p>
            <p class="small">
              旅のしおりが作れちゃう☆★<br>
              デートプランやお出かけプランを考える悩みも一気に解決!!
              ユーザーが【プランナー】となり、旅行プランやお出かけプラン等を【投稿(プロデュース)】<br>
              様々なカテゴリのプラン情報を検索・共有・投稿できるソーシャルコミュニティプラン共有サイトです!!</p>
          </div>
          
          
              <div class="col-sm-4 p-3 footer">
                <ul class="small pl-5">
                  <li><%= link_to "よくある質問", faq_path %></li>
                  <li><%= link_to "利用規約", tos_path %></li>
                  <!--<li><%= link_to "運営会社", company_path %></li>-->
                  <li><%= link_to "プライバシーポリシー", privacy_path %></li>
                  <li><%= link_to "お問い合わせ", contact_path %></li>
                  <li><%= link_to "モデル募集", model_wanted_path %></li>
                </ul>
              </div>
            
          
              <div class="col-sm-4 p-3 footer">
                <p>
                  <%= link_to "https://www.instagram.com/pladuce/", target: :_blank do %>
                  <i class="fab fa-instagram mr-2"></i>instagram<br>
                  <% end %>
                  
                  <%= link_to "https://twitter.com/pladuce_jp", target: :_blank do %>
                  <i class="fab fa-twitter-square mr-2"></i>twitter<br>
                  <% end %>
                  
                  <!--<%= link_to root_path do %>-->
                  <!--<i class="fab fa-facebook-square mr-2"></i>facebook<br>-->
                  <!--<% end %>-->
                </p>
              </div>

        </div>
      </div>
      
      <div class="copy text-center xsmall mt-5 pt-1">
        ©Pladuce. All rights researved.
      </div>
      
    </footer>